body {
  margin: 0;
  font-family: Nunito;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url('./assets/fonts/Nunito-Regular.ttf');
  font-family: Nunito;
}

.page {
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-template-areas:
    'navBar navBar navBar navBar'
    'breadcrumb breadcrumb breadcrumb breadcrumb'
    'main main main main'
    'footer footer footer footer';
}

.page > * {
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: lightblue;
}

.header input {
  float: right;
}

.content {
  grid-area: content;
  grid-column: span 2;
}
