.pageContent {
  display: flex;
}

.main {
  grid-area: main;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 13% 50%;
  margin: 0 auto;
  width: 70rem;
}

@media only screen and (max-width: 768px) {
    .main {
      width: auto;
    }
  }