.breadcrumb {
  background-color: #fff;
  grid-area: breadcrumb;
  margin-bottom: 24px;
}

.breadCrumbHeaderContainer {
  margin: 0 auto;
  width: 70rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.breadCrumbLocation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadCrumbLocationText {
  text-transform: capitalize;
}

.breadCrumbLocationText::after {
  border-style: solid;
  border-width: 0.05em 0.05em 0 0;
  color: #9b9b9b;
  content: '';
  display: inline-block;
  height: 0.4em;
  opacity: 0.8;
  position: relative;
  right: -0.25rem;
  top: 0.5rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.4em;
  margin-right: 16px;
}

.breadCrumbLocationResult {
  color: #767a81;
  font-size: 0.625rem;
}

@media only screen and (max-width: 768px) {
  .breadCrumbHeaderContainer,
  .breadCrumbLocation,
  .breadCrumbheadeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .breadCrumbLocation {
    border-bottom: 0.0625rem solid #f2f2f2;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .breadcrumb {
    margin-left: 0;
    margin-right: 0;
  }

  .breadCrumbSorterText,
  .breadCrumbSorter {
    font-size: 0.7rem;
  }
}
